{# templates/security/admin.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block body %}
	<h1>Page Admin</h1>
  <p>Hello {{ app.user.username }} !</p>
  <p>{{ app.user.email }}</p>
  <p>{{ app.user.password }}</p>
  <ul>
  	{% for role in app.user.roles %}
  	<li> {{role}}</li>
		{% endfor %}
	</ul>
{% endblock %}