{# templates/security/inscription.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="form-group">
	{{ form_row(form.nomClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.prenomClient, 
								 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.emailClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.passwordClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.adresseClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.cpClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.villeClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
	{{ form_row(form.telClient, 
							 {attr: {class: 'form-control'}}) }}
	</div>
	<div class="form-group">
		<div class="form-check form-check-inline">
			{{ form_row(form.civiliteClient, 
							 {attr: {class: 'form-check-input'}}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="form-check form-check-inline">
			{{ form_row(form.newsletterClient, 
							 {attr: {class: 'form-check-input'}}) }}
		</div>
	</div>
	<div class="form-group text-center">
		<button type="submit" class="btn btn-success">Valider</button>
	</div>
	{{ form_end(form) }}
{% endblock %}