{# templates/menu/navbar.html.twig #}

<ul class="navbar-nav mr-auto">
	<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" 
     	 id="navbarDropdown" role="button" 
     	 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-clipboard-list"></i> Catégories
    </a>
    <div class="dropdown-menu" 
    	   aria-labelledby="navbarDropdown">
      {% for categorie in categories %}
        <a class="dropdown-item" 
        	 href="{{ url('produits', {cat: categorie.id}) }}">
        	{{ categorie.libelleCategorie }}
       	</a>
      {% endfor %}
		</div>
  </li>
	{# boucle sur le tableau des liens 
	equivalent foreach($liens as $lien){}
	#}
	{% for lien in liens %}
		<li class="nav-item">
			<a href="http://localhost/s4boutique/public/{{ lien.href }}" class="nav-link">
				<i class="{{lien.icon}}"></i> {{ lien.lib }}
			</a>
		</li>
	{% endfor %}
</ul>