{# templates/public/panier.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}{{title}}{% endblock %}

{% block body %}
<h1>Mon Panier</h1>
	{% if produits %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for prod in produits %}
					<tr>
						<td>{{prod.idProduit.nomProduit }}</td>
						<td><input type="number" class="form-control"  				  value="{{prod.quantiteProduit}}"
											 id="i{{prod.id}}"/>
						</td>
						<td>{{prod.datePanier|date('d/m/Y')}}</td>
						<td class="text-right">
							<button class="btn btn-warning modif"
											id="m{{prod.id}}">
								<i class="fas fa-edit"></i>
							</button> 
							<button class="btn btn-danger supp"
											id="s{{prod.id}}">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/panier.js') }}">
	</script>
{% endblock %}